:host ::ng-deep{
    .filter-container{
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        .search-input{
            flex: 1;
        }
    }
    .search-filter{
        display: block;
        .mat-form-field{
            display: block;
        }
    }
    .add-card{
        background: #262261;
        color: white;
        text-align: center;
    }
    .ingredient-card{
        .remove-button{
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}