<div class="main-container">
    <div class="filter-container">
      <app-search-input class="search-input"></app-search-input>
      <!-- <app-filter-button [filter]="filter" class="mat-form-field-wrapper"></app-filter-button> -->
    </div>
    
    <div class="recipes-container default-grid-list">
      <mat-card class="recipes-card add-card" >
        <mat-card-content>
          <button mat-fab color="accent">
            <mat-icon>add</mat-icon>
          </button>
          <h3>Add recipe</h3>
        </mat-card-content>
      </mat-card>
    
      <!-- <mat-card class="recipe-card" *ngFor="let ingredient of ingredients">
        <div class="remove-button">
          <button mat-icon-button color="accent" aria-label="Remove recipe">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <mat-card-header>
          <mat-card-title>{{ ingredient.name }}</mat-card-title>
          <mat-card-subtitle>{{ ingredient.meansure }} {{ingredient.meansureType}} - <strong>{{ingredient.averageCost | currency: 'BRL':'symbol':undefined:'pt-BR'}}</strong></mat-card-subtitle>
        </mat-card-header>
      </mat-card> -->
    </div>
</div>