:host ::ng-deep{
    form{
        display: flex;
        flex-direction: column;
        > div{
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }
        .cost{
            input{
                text-align: left;
            }
        }
    }
}