// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "../src/app/core/theming/palette";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$minhas-receitas-primary: mat-palette($md-primarycolor);
$minhas-receitas-accent: mat-palette($md-accentcolor);

// The warn palette is optional (defaults to red).
$minhas-receitas-warn: mat-palette($md-errorcolor);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$minhas-receitas-theme: mat-light-theme(
    (
      color: (primary: $minhas-receitas-primary,
      accent: $minhas-receitas-accent,
      warn: $minhas-receitas-warn,
    ),
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($minhas-receitas-theme);

$custom-typography: mat-typography-config($font-family: "Montserrat",
);

@include angular-material-typography($custom-typography);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: #262261;
}

*{
  outline: none;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  color: #fff;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgba(0, 0, 0, 0.12);
}

.default-grid-list{
  width: 80%;
  margin: 30px auto 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 580px) {
    grid-template-columns: 1fr;
  }
}